UPLOAD_FOLDER=uploads
MAX_FILE_SIZE=5000000
MIME_TYPES=image/png,image/jpg,image/jpeg,image/svg
TIMEZONE=America/Sao_Paulo
JWT_SECRET=secret
TOKEN_EXP=3h
REFRESH_EXP=6h

#sqlite
DIALECT=sqlite
SYNC=true
AUTOLOAD=true
STORAGE=databaseNameHere